@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');


html {
    box-sizing: border-box;
}

body{
    margin: 0;
    min-height: 100vh;
    font-family: 'Jost', sans-serif;
    overflow: hidden;
}

main {
    position: relative;
}

/* header */
.header {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, 50%);
    width: 100vw;
}

.header h1 {
    font-size: 100px;
    font-weight: 500;
    font-style: italic;
    text-align: center;
    animation-name: focus-in-contract;
    animation-duration: 2.2s;
    animation-timing-function: linear;
}

/* Keyframes will dictate the start and end of the animations
and will animate from one set of properties to another */
@keyframes focus-in-contract {
    0% {
        letter-spacing: 1em;
        filter: blur(12px);
        opacity: 0; /* Opacity 0 means 0% */
    }
    100% {
        letter-spacing: 0;
        filter: blur(0);
        opacity: 1; /* Opacity 1 means 100% */
    }
}

.social-media-icons {
    font-size: 70px;
    position: relative;
    top: -60px;
    text-align: center;
}

.social-media-icons i {
    animation: focus-in-contract 2.2s linear; /* This is the shorthand way of writing animations */
    cursor: pointer;
    transition: transform 0.5s ease;
}

.social-media-icons i:hover {
    transform: scale(1.1);
}

/* Footer */
.footer {
    position: absolute;
    top: calc(100vh - 50px);
    width: 100%;
    text-align: center;
}