@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --bg-color: whitesmoke;
    --text-color: rgb(60, 60, 60);
    --box-shadow: 0 2px 6px rgba(0,0,0,0.1);
    --text-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    --letter-spacing: 1em;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

[data-theme="dark"] {
    --bg-color: rgba(39, 39, 39);
    --text-color: rgb(219, 219, 219);
    --box-shadow: 0.5px 0.5px 4px rgba(255, 255, 255, 0.307);
    --text-shadow: 0 3px 10px rgba(255, 255, 255, 0.411);
}

/* --- General --- */
html {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body{
    min-height: 100vh;
    font-family: 'Jost', sans-serif;
    background-color: var(--bg-color);
    transition: background-color 2s ease;
    /* display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; */
    margin: 0;
    color: var(--text-color);
    overflow-x: hidden;
}

main{
    position: relative;
}

/* Navigation */
.menu-icon {
    position: fixed;
    top: 15px;
    left: 15px;
    width: 2rem;
    height: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    cursor: pointer;
    z-index: 10;
}

    .menu-icon div {
        height: 0.25rem;
        background-color: var(--text-color);
        transition: all 0.4s ease-in-out;
    }

/* Rotate first bar */
.active .bar1 {
    transform: translate(0, 11px) rotate(-45deg);   
}

/* Fade out the second bar */
.active .bar2 {
    opacity: 0;
}

/* Rotate last bar */
.active .bar3 {
    transform: translate(0, -11px) rotate(45deg);
}

.nav-wrapper {
    height: 60px;
    position: fixed;
    top: 0;
    left: 0;
    background: var(--bg-color);
    width: 100%;
    z-index: 10;
    transition: background-color 2s ease;
}

nav {
    height: 100%;
    color: var(--text-color);
    position: fixed;
    top: 0;
    left: 0;
    transform: translateX(-100%);
    transition: transform 0.3s ease-in-out;
    width: 200px;
    z-index: 2;
}

nav ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 85%;
    font-size: 2rem;
}

nav ul li {
    margin: 0.25rem 0;
}

nav.active {
    transform: translateX(0)
}

/* Sections */
section {
    min-height: 100vh;
    position: relative;
    display: grid;
    place-items: center;
}

h2 {
    font-size: 40px;
}

/* ----- Section 1 ----- */
#section-1 {
    align-items: center;
    margin: 0 auto;
}

#button-Dark-Mode{
    position: fixed;
    top: 15px;
    right: 10px;
    border: none;
    border-radius: 5px;
    width: 110px;
    height: 30px;
    color: var(--text-color);
    box-shadow: var(--box-shadow);
    background-color: var(--bg-color);
    cursor: pointer;
    animation: focus-in-contract-Dark-Button 2s linear;
    z-index: 100;
}

#button-Dark-Mode:hover {
    background: rgba(226, 224, 224, 0.299);
}

.text-dark-button{
    font-family: jost;
    font-size: 15px;
    padding-right: 5px;
    animation: focus-in-contract-Dark-Button 2s linear;
}
.fa-moon, .fa-sun {
    animation: focus-in-contract-Dark-Button 2s linear;
}


@keyframes focus-in-contract-Dark-Button {

    0% {
        filter: blur(1rem);
        opacity: 0;
    }

    100% {
        filter: blur(0);
        opacity: 1;
    }
}

@keyframes focus-in-contract {
    0% {
        letter-spacing: var(--letter-spacing);
        filter: blur(1rem);
        opacity: 0;
    }

    100% {
        letter-spacing: 0;
        filter: blur(0);
        opacity: 1;
    }
}

header{
    text-align: center;
    /* animation: focus-in-contract 2.2s linear; */
    animation: focus-in-contract 2.5s linear;
}

h1 {
    font-family: 'Jost';
    font-style: italic;
    font-weight:  550;
    font-size: clamp(65px, 10vw, 70px);
    margin: 0;
    padding: 15px;
    color: var(--text-color);
}

.icons-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    /* animation: focus-in-contract 2.2s linear; */
    animation: focus-in-contract 2.5s linear ;
}

.fa-brands{
    margin: 0 8px;
    padding: 0;
    font-size: 3em;
    transition: transform 0.4s ease-in-out;
    cursor: pointer;
    color: var(--text-color);
}

.fa-brands:hover {
    transform: scale(1.2);
    cursor: pointer;
}

/* ----- Section 2 ----- */
#section-2 h2 {
    margin-top: 50px;
}

#section-2 {
    height: 100vh;
}

.main-image {
    height: 40%;
    width: auto;
    position: relative;
    top: -25%;
    padding: 20px;
    border: 10px solid var(--text-color);
}

/* ----- Section 3 ----- */
.image-container {
    position: relative;
    top: -25%;
    height: 50vh;
}

.small-image {
    height: 50%;
    width: auto;
    padding: 20px;
    border: 10px solid var(--text-color);
}

    .small-image:not(:first-child) {
        margin-left: 20px;
    }

/* ----- Section 4 ----- */
#section-4 h2 {
    margin-top: 50px;
}

.blog-container {
    margin: 0 auto;
    width: 50ch;
}

.blog-item { 
    margin-bottom: 50px;
}

/* ----- Section 5 ----- */
/* Waves */
.waves {
    width: 100%;
}

    .waves > svg {
        position: absolute;
        bottom: 0;
        left: 0;
    }


/* ----- Footer ----- */
a {
    text-decoration: none;
    color: var(--text-color);    ;
    transition: color 0.5s ease,
                text-shadow 0.5s ease;
}

small > a {
    text-decoration: none;
    color: rgb(219, 219, 219);    ;
    transition: color 0.5s ease,
                text-shadow 0.5s ease;
}
small{
    text-align: center;
    font-family: jost;
    font-weight: 500;
    font-size: 12px;
    color: rgb(219, 219, 219);
}

small a:hover {
    color: rgb(187, 48, 48);
    text-shadow: 0 0.5px 5px rgba(219, 219, 219, 0.4);

}

footer {
    position: relative;
    bottom: -50px;
    text-align: center;
    width: 100%;
    animation: focus-in-contract-Dark-Button 2s linear;
    z-index: 100;
}

/* Media Queries */

/* All Mobile Devices */
@media screen and (max-width: 1180px) {
    :root {
        --leter-spacing-animation: .1em;
    }

    nav {
        width: 100%;
        background: var(--bg-color);
    }

    .wave > svg:last-child {
        border-bottom: 20px solid #1D3557;
    }

    footer {
        bottom: -110px;
    }
}

/* Tablet Horizontal */
@media screen and (min-width: 900px) and (max-width: 1180px) {
    .main-image {
        height: auto;
        width: 75%;
        top: -5%;
    }

    .small-image {
        height: 45%;
        padding: 10px;
        border-width: 5px;
    }

    footer {
        bottom: -70px;
    }
}

/* Tablet Vertical */
@media screen and (min-width: 700px) and (max-width: 900px) {

    /* Section 2 */
    .main-image {
        height: auto;
        width: 85%;
        position: relative;
        top: -35%;
        border-width: 5px;
        padding: 10px;
    }

    .small-image {
        left: 6%;
        position: relative;
        margin: auto 5% !important;
        height: auto;
        padding: 10px;
        width: 75%;
        border-width: 5px;
    }

    .blog-container {
        margin: 0 auto;
        width: 40ch;
        position: relative;
        top: -5%;
        font-size: 22px;
    }

    /* Section 4 */
    #section-4 {
    margin-top: 65vh;
    }
}

/* Smartphone Horizontal */
@media screen and (min-width: 600px) and (max-width: 950px) {

    nav ul {
        font-size: 1.25rem;
        padding: 0;
    }

    #section-3 {
        margin-top: 80vh;
    }

    .small-image {
        height: 70%;
    }

    footer {
        bottom: -30px;
    }
}

/* Smartphone Vertical */
@media screen and (max-width: 600px) {

    nav {
        width: 100vw;
        height: 100vh;
        z-index: 1000;
    }

    nav ul {
        padding: 0;
    }

    section > h2 {
        font-size: 2rem;
        text-align: center;
        margin: 5% !important;
    }

    .main-image {
        height: auto;
        max-width: 85%;
        border-width: 5px;
        padding: 10px;
        position: relative;
        top: -45%;
    }

    .small-image {
        left: 7%;
        position: relative;
        margin: auto 5% !important;
        height: auto;
        padding: 10px;
        width: 75%;
        border-width: 5px;
    }

    /* Section 4 */
    #section-4 h2{
       margin-top: 10vh; /* Maybe there is a bug ni the console, "Blog Update" doesn't stay right on the screen */
    }

    .blog-container {
        width: 80%;
    }

    footer {
        z-index: 0;
    }
}

